<div id="left-sidebar" class="text-center">

  <div class="scroll-area">

    <div class="btn-group" role="group" id="map-types" aria-label="Map Type">
      <button type="button" class="btn btn-default" data-map-type="PeopleMap">People</button>
      <button type="button" class="btn btn-default" data-map-type="ReferencesMap">References</button>
      <button type="button" class="btn btn-default" data-map-type="CharacteristicsMap">Characteristics</button>
    </div>

    <h2 class="h3 text-center">Link by</h2>

    <div class="btn-group" role="group" id="similarity-types" aria-label="Link by">
      <button class="btn btn-default btn-block active checkbox">Fields</button>
      <button class="btn btn-default btn-block active checkbox">Methods</button>
      <button class="btn btn-default btn-block active checkbox">Theories</button>
      <button class="btn btn-default btn-block active checkbox">Venues</button>
    </div>

  </div>

</div>

<div id="visualization"></div>
