<div id="left-sidebar" class="text-center">

  <div class="scroll-area">

    <div class="btn-group" role="group" aria-label="Data Type">
      <button type="button" class="btn btn-default" id="people-button">People</button>
      <button type="button" class="btn btn-default" id="references-button">References</button>
      <button type="button" class="btn btn-default" id="characteristics-button">Characteristics</button>
    </div>

    <h2 class="h3 text-center">Link by</h2>

    <button class="btn btn-default btn-block active checkbox">Fields</button>
    <button class="btn btn-default btn-block active checkbox">Methods</button>
    <button class="btn btn-default btn-block active checkbox">Theories</button>
    <button class="btn btn-default btn-block active checkbox">Venues</button>

  </div>

</div>

<div id="visualization"></div>

<div id="right-sidebar">
  <div class="scroll-area">
  </div>
</div>
