<div id="left-sidebar" class="text-center">

  <div class="scroll-area">

    <div class="btn-group" role="group" aria-label="Data Type">
      <button id="people-button" type="button" class="btn btn-default">People</button>
      <button id="references-button" type="button" class="btn btn-default">References</button>
    </div>

    <div id="grouping-controls"></div>
    <div id="groups-legend"></div>

  </div>

</div>

<div id="visualization"></div>

<div id="right-sidebar">

  <div class="scroll-area">
  </div>

</div>
