<div id="left-sidebar" class="text-center">

  <div class="scroll-area">

    <div class="btn-group" role="group" id="map-types" aria-label="Map Type">
      <button type="button" class="btn btn-default" data-map-type="PeopleMap">People</button>
      <button type="button" class="btn btn-default" data-map-type="ReferencesMap">References</button>
      <button type="button" class="btn btn-default" data-map-type="CharacteristicsMap">Characteristics</button>
    </div>

    <h2 class="h3 text-center">Link by</h2>

    <div role="group" id="similarity-types" aria-label="Link by"></div>

  </div>

</div>

<div id="visualization">
</div>
<div class="loader"></div>

<div id="right-sidebar">

  <div class="scroll-area">
    <a id="node-url">
      <h3 id="node-title"></h3>
    </a>
    <div id="node-attrs"></div>
  </div>

</div>