h1
  | /api/v1/<strong>people</strong>/graphs/force-directed.json

p This endpoint fetches a list of people and their attributes.

h2 Example Response

pre= File.read File.dirname(__FILE__) + '/../../fixtures/scholar_map_api_mock/people.json'